@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(20, 23, 24), rgb(26, 32, 32));
}
.elements{
    text-align: center;
    width: auto;
    height: 80vh;
}
.text{
    color: #f5f5f5;
    font-size: 30px;
    margin: 10%;
}
.qr_dialog, .game_dialog, .player_dialog{
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    border: 0 none;
}
.qr_div, .game_div, .player_div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   
}
.items_qr, .items_game{
    width: 50%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(20, 23, 24), rgb(26, 32, 32));
    border-radius: 12px;
}
.exit{
    width: 100%;
    height: 30px;
}
.btn_exit{
    float: right;
    position: relative;
    color: #f5f5f5;
    width: 30px;
    margin: 3px;
    font-size: 23px;
    border: 0 none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}
.btn_exit:hover{
    opacity: 0.7;
}
.text_page{
    width: 80%;
    font-size: 20px;
    color: #f5f5f5;
}
.insert{
    width: 70%;
    display: flex;
    justify-content: center;
}
.insert input{
    width: 70%;
    border: 0 none;
    border-radius: 4px;
    padding: 2%;
    margin-top: 1%;
    outline: 0;
    font-size: 18px;
}
.divqr{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    width: 100%;
    height: 40%;
    border-radius: 10px;
    opacity: 0;
}
.qrimage{
    width: 150px;
    height: 150px;
    border-radius: 1px;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
}
.table button{
    width: 150px;
    height: 120px;
    margin: 3%;
    border-radius: 50%;
    border: 0 none;
    display: block;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #f5f5f5;
    background-color: transparent;
}
.table i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 20px;
}
.table p{
    margin-top: 10px;
    font-size: 14px;
}
.table a{
    text-decoration: none;
}
.table button:hover{
    scale: 1.1;
    color: rgb(104, 255, 205);
}

@media(max-width: 770px){
    .elements{
        width: 70%;
        height: 50vh;
    }
    .text{
        font-size: 22px;
        margin: 8%;
    }
    .qrimage{
        width: 120px;
        height: 120px;
    }
    .items_qr{
        width: 90%;
    }
    .text_page{
        font-size: 15px;
    }
    .insert input{
        width: 90%;
    }
    .table{
        width: 300px;
        height: 80px;
    }
    .table button{
        width: 120px;
        height: 80px;
    }
    .table i{
        margin-top: 18px;
        font-size: 28px;
    }
    .table p{
        margin-top: 1px;
        font-size: 11px;
    }
}


h1{
    color: #f5f5f5;
    text-align: center;
    margin: 2%;
}
.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.game button{
    width: 70px;
    height: 70px;
    margin: 8px;
    cursor: pointer;
    font-size: 50px;
    border-radius: 5px;
    background-color: rgb(104, 255, 205);
    color: black;
}
h2{
    color: #f5f5f5;
    text-align: center;
    margin: 7%;
}

.items_player{
    width: 30%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(20, 23, 24), rgb(26, 32, 32));
}
.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.text_player{
    width: 100%;
}
.close{
    display: flex;
    justify-content: center;
    margin: 4%;
    width: 100%;
    height: 4vh;
}
.btn_close{ 
    width: 30%;
    height: 4vh;
    cursor: pointer;
    border: 0 none;
    border-radius: 6px;
    background-color: rgb(224, 59, 59);
    color: #f5f5f5;
}
.btn_close:hover{
    scale: 1.03;
    box-shadow: 2px 1px 3px 1px #000;
}
footer{
    width: 100%;
    height: 5vh;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgb(20, 23, 24), rgb(0, 0, 0));
}
footer h2{
    font-size: 20px;
    color: white;
}
footer h2:hover{
    scale: 1.02;
    color: rgb(104, 255, 205);
}